<app-carbon-footprint-form></app-carbon-footprint-form>
<app-carbon-footprint-result></app-carbon-footprint-result>


<section>
  <article>
    <p>Consommation pour 100km :
      <span
        [ngStyle]="{'color' : consumptionPer100Km > MAX_CONSUMPTION ? 'red' : consumptionPer100Km < MIN_CONSUMPTION ? 'green' : 'black' }">{{ consumptionPer100Km | number : "1.2-2" }}</span>
    </p>
    @if (consumptionPer100Km > MAX_CONSUMPTION) {
      <p>Attention votre consommation est élevée !</p>
    }
    @if (consumptionPer100Km < MIN_CONSUMPTION) {
      <p>Félicitations votre consommation est faible !</p>
    }

    <p>Nombre de km :
      <span [ngClass]="{'low-distance' : distance <= 100, 'high-distance' : distance >= 500}">{{ distance }}</span>
    </p>

    <button (click)="add100km()">+ 100 Km</button>

    <p>Quantité CO2 : {{ quantityCo2 | number : "1.2-2" }} </p>
  </article>
</section>

<section>
  <article>
    <h2>Liste des voyages</h2>
    <button (click)="addTravel()">Générer voyage</button>
    <table>
      <thead>
      <tr>
        <th>Distance</th>
        <th>Consommation pour 100 kms</th>
        <th>Transport</th>
        <th>Co2</th>
      </tr>
      </thead>
      <tbody>
        @for (travel of travels(); track $index) {
          <tr>
            <td>{{ travel.distance }} km</td>
            <td>{{ travel.consumption }} L</td>
            <td>{{ travel.travelType }}</td>
            <td>{{ travel.co2 | number : "1.2-2" }}</td>
          </tr>
        } @empty {
          <tr>
            <td>No distance !</td>
            <td>No consumption !</td>
          </tr>
        }
      </tbody>
    </table>
  </article>
</section>



