<h1>Bienvenue sur le site de l'empreinte carbone !</h1>
<div style="color: red">{{ error }}</div>

<form>
  <label for="login">Identifiant</label><input id="login" name="input" type="text" [(ngModel)]="userLogin">
  <label for="password">Mot de passe</label><input id="password" name="password" type="password" [(ngModel)]="password">
  @for (error of errors; track error) {
    <div class="error">{{ error }}</div>
  }
  <button (click)="login()">Se connecter</button>
</form>


<!--<button (click)="goToSummary()">Accéder au résumé de vos voyages</button>-->
